/* index.css */
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  
  background-color: #04635e; /* Change to a lighter color */
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #086177; /* Slightly off-white for body */
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

a {
  font-weight: 500;
  color: #868cff;
  text-decoration: inherit;
}
a:hover {
  color: #767df5;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #0a9e59;
  }
  a:hover {
    color: #05646b;
  }
}
